@charset "UTF-8";


@font-face {
  font-family: Android;
  src: url('/font/IDroid.otf') format('opentype');
  font-weight: normal;
}

:root {
  --cor01: #99A1CF;
  --cor02: #9496A5;
  --cor03: #8E9FFA;
  --cor04: #595E7A;
  --cor05: #2D3250;
  --cor06: #171B33;

  --fonte-padrao: Arial, Verdana, Heveltica, sans-serif;
  --fonte-destaque: 'Roboto', sans-serif;
  --fonte-Android: 'Android', cursive;
}

footer {
  background-color: #171B33;
  color: white;
  display: flex;
  justify-content: center;
  margin:  1rem 1rem 0.8rem 1rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
  border-radius: 20px ;
}
